//Colors
$primary-color: #fdc23e;
$primary-color-dark: #ec971f;

$color-white: #fff;
$color-black: #000;

$color-grey-light-0: #888;
$color-grey-light-1: #cdccde;
$color-grey-light-2: #949497;
$color-grey-light-3: #f7f7f7;
$color-grey-light-4: #e6e6e6;

$color-grey-dark-0: #2d2d2d;
$color-gray-dark-1: #21263a;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
:root {
  --primary-color: #fdc23e;
  --primary-color-dark: #ec971f;

  --color-grey-dark-0: #2d2d2d;
  --color-white: #fff;
  --color-black: #000;

  --color-grey-light-0: #888;
  --color-grey-light-4: #e6e6e6;
}
